@use '../utils/theme' as theme;
@use '../utils/mixins' as mixins;

.hawk-tool-row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	@include mixins.lg {
		flex-wrap: nowrap;
		justify-content: flex-start;
	}
}
