$background: $grey2;
$foreground: $green;

.hawk-results__item-placeholder {
	display: flex;

	width: 175px;
	height: 175px;
	max-width: 100%;

	background-color: $background;

	border-radius: 20px 20px;
	align-items: center;
}

.hawk-results__item-name-placeholder {
	height: 20px;
	width: 125px;

	background-color: rgba($grey4, 1);
	border-radius: 20px;
}

.hawk-facet-rail__facet-heading-placeholder {
	height: 30px;

	background-color: $grey;
	border-radius: 20px;
}

.hawk-facet-rail__facet-values-placeholder {
	border-radius: 10px;
}

.hawk-facet-rail__facet-checkbox-placeholder {
	border-width: 2px;
	border-color: rgba($grey4, 1);
}
.hawk-facet-rail__facet-name-placeholder {
	height: 20px;

	background-color: rgba($grey4, 1);
	border-radius: 15px;
}

.hawk-placeholder__image {
	font-size: 10px;
	margin: 50px auto;
	text-indent: -9999em;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: $foreground;
	background: -moz-linear-gradient(left, rgba($foreground, 1) 10%, rgba($foreground, 0) 42%);
	background: -webkit-linear-gradient(left, rgba($foreground, 1) 10%, rgba($foreground, 0) 42%);
	background: -o-linear-gradient(left, rgba($foreground, 1) 10%, rgba($foreground, 0) 42%);
	background: -ms-linear-gradient(left, rgba($foreground, 1) 10%, rgba($foreground, 0) 42%);
	background: linear-gradient(to right, rgba($foreground, 1) 10%, rgba($foreground, 0) 42%);
	position: relative;
	-webkit-animation: hawk-placeholder__image-frames 2s infinite linear;
	animation: hawk-placeholder__image-frames 2s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);

	&:before {
		width: 50%;
		height: 50%;
		background: $foreground;
		border-radius: 100% 0 0 0;
		position: absolute;
		top: 0;
		left: 0;
		content: '';
	}

	&:after {
		background: $background;
		width: 75%;
		height: 75%;
		border-radius: 50%;
		content: '';
		margin: auto;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

@mixin hawk-placeholder__image-mixin() {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes hawk-placeholder__image-frames {
	@include hawk-placeholder__image-mixin;
}
@keyframes hawk-placeholder__image-frames {
	@include hawk-placeholder__image-mixin;
}
