.recommendations-title {
    text-align: center;
}

.recommendations-container {
    display: flex;
    overflow-x: auto;
}

.recommendations-item {
    flex-shrink: 0;
}

.hawk-recommendations__item-name {
    margin: auto;
    margin-top: 10px;
    margin-left: 15px;
    text-align: center;
}

.hawk-recommendations__item {
    margin: 0 0 2em;
    width: 100%;

    @include md {
        max-width: 300px;
    }

    @include lg {
    }
}

.recommendations-wrapper {
    width: 100%;

    .filler {
        display: inline-block;
        flex: 1;
    }

    .recommendations-navigation {
        display: flex;
    }

    .recommendations-navigation-item {
        display: inline-block;
        vertical-align: top;
        margin: 0 20px;
        width: 8px;
        height: 8px;
        background: #000;
        border-radius: 50px;
    }

    .recommendations-wrapper-inner {
        display: flex;
    }

    .recommendations-container {
        position: relative;
        width: 100%;
    }

    .slider-button-prev,
    .slider-button-next {
        /*display: none;*/
        display: inline-block;
        width: 80px;
        height: 320px;
        vertical-align: top;
        position: relative;

        svg {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            display: block;
        }
    }

    .slider-enabled {
        height: 320px;
        display: inline-block;

        .recommendations-container-inner {
            position: absolute;
            left: 0;
            width: 9000px;
        }

        .recommendations-item {
            display: inline-block;
            width: 300px;
            vertical-align: top;
            margin: 0;
        }
    }

    .slider-enabled::-webkit-scrollbar {
        display: none;
    }
}
