.hawk-results {
	flex-grow: 1;
}

.hawk-results__item {
	margin: 0 0 2em;
	width: 100%;

	@include md {
		max-width: 300px;
		width: 50%;
	}

	@include lg {
		width: 25%;
	}
}

.hawk-results__item-image {
	padding: 10px;

	img {
		display: block;
		margin: auto;

		width: 175px;
		max-width: 100%;
	}
}

.hawk-results__item-name {
	width: 75%;
	margin: auto;
	margin-top: 10px;

	text-align: center;
}

.hawk-results__listing {
	display: flex;
	flex-wrap: wrap;
}

.hawk-results__top-tool-row {
	margin-top: 2em;
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;

	@include md {
		margin-top: 0;
	}
}

.hawk-results__bottom-tool-row {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #ccc;

	@include md {
		padding-top: 0;
	}
}

.hawk-preview__banner-container img {
	width: 300px;
	display: block;
	margin: 0 auto;
}

.hawk-results__contentItem {
	color: #000;
	display: table;
	width: 100%;
	padding: 1em 0;
	border-top: 1px solid #cccccc;

	a {
		color: #000;
		text-decoration: none;
	}

	.hawk-results__hawk-contentTitle {
		margin-bottom: 10px;
	}
}

.hawk-preview__results_tabs {
	.nav-tabs {
		background: #f7f7f7;
	}

	ul {
		.nav-item {
			position: relative;
			font-size: 0.938em;
			font-weight: bold;
			text-decoration: none;
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
			background-color: #e3e0df;
			cursor: pointer;

			&.active {
				color: white;
				background-color: #f37622;
			}

			a {
				border: 0;
				cursor: pointer;

				&:hover,
				&:focus {
					border: 0;
				}
			}
		}
	}
}

.hawk-results__top-tool-row {
	border-bottom: none;
	margin-bottom: none;
}

.hawk-selections__category-wrapper {
	background-color: #f0f0f0;
}

.hawk-preview-tooltip {
	max-width: 210px !important;
}

.hawk-preview__trigger-tooltip {
	.arrow::before {
		border-right-color: #6c757d;
	}

	.bs-tooltip-left .arrow::before {
		border-left-color: #6c757d;
	}

	.tooltip-inner {
		padding: 1.25rem 1.5rem !important;
		border: 1px solid #6c757d;
		background-color: #fff !important;
		-webkit-box-shadow: 10px 10px 21px -11px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 10px 10px 21px -11px rgba(0, 0, 0, 0.75);
		box-shadow: 10px 10px 21px -11px rgba(0, 0, 0, 0.75);
	}
}

.hawk-preview__banner-container .hawk-results__item-image img {
	width: initial;
}
.hawk-img-override{
	width: 120px;
}