div[data-component="hawksearch-language-selector"]{
    margin: 16px 0;
    .language-selector{
        .language{
            color: #007bff;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
