.hawk-sorting {
	display: flex;
	align-items: center;
}

.hawk-sorting__label {
	white-space: nowrap;
	margin-right: 10px;
}

.hawk-tool-row__item {
	margin-right: 15px;
	padding: 0 0 15px;

	@include md {
		padding: 15px 0;
	}

	&:last-child {
		margin-right: 0;
	}
}
