.hawk-facet-rail {
	border: 1px solid $primary;
	background-color: $grey2;
	width: 100%;

	@include md {
		width: auto;
		min-width: 230px;
		margin-right: 1em;
	}

	@include lg {
		min-width: 300px;
	}

	.hawk-facet-rail__w-100 {
		width: 100%;
	}
}

.hawk-facet-rail__facet-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.hawk-facet-rail__facet-list-item {
	display: flex;
	align-items: flex-start;
	margin: 0 0 6px;
	&.hawkFacet-group {
		flex-direction: column;
		.hawkFacet-group__inline {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 6px;
		}
	}
}

.hawk-facet-rail__heading {
	color: $white;
	background-color: $hawk-facet-rail-heading-bg;
	font-size: 1.2em;
	padding: 10px;
	font-weight: bold;
}

.hawk-facet-rail__selections {
	border-bottom: 1px solid #d9d9d6;
	margin: 1em 0;

	@include md {
		margin: 0;
	}

	h4 {
		margin: 0;
		margin-bottom: 10px;
		font-size: 1.2em;
	}
}

.hawk-facet-rail__facet {
	padding: 10px;

	border-bottom: 1px solid $grey;
	border-top: 1px solid $white;
}

.hawk-facet-rail__facet-heading {
	cursor: pointer;
	display: flex;
	align-items: center;

	h4 {
		margin: 5px 0 5px 0;
		display: inline-block;
		flex-grow: 1;
		padding: 0 5px 0 0;
		font-size: 1em;
		font-weight: bold;
	}

	.icon {
		width: 1em;
		height: 1em;
	}

	.hawk-questionmark {
		width: 25px;
		height: 25px;
	}

	cursor: pointer;

	.custom-tooltip {
		display: inline-block;
		position: relative;
		text-align: left;

		.right {
			min-width: 250px;
			top: 50%;
			left: 100%;
			margin-left: 5px;
			transform: translate(0, -50%);
			padding: 10px 20px;
			color: #000;
			background-color: #fff;
			font-weight: bold;
			font-size: 1em;
			border-radius: 8px;
			position: absolute;
			z-index: 99999999;
			box-sizing: border-box;
			box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
			display: none;
			cursor: auto;

			div {
				font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
			}

			i {
				position: absolute;
				top: 50%;
				right: 100%;
				margin-top: -12px;
				width: 12px;
				height: 24px;
				overflow: hidden;
			}

			i::after {
				content: '';
				position: absolute;
				width: 12px;
				height: 12px;
				left: 0;
				top: 50%;
				transform: translate(50%, -50%) rotate(-45deg);
				background-color: #fff;
				box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
			}
		}
	}

	.custom-tooltip:hover .right {
		display: block;
	}
}

.hawk-facet-rail__facet-body {
	margin-top: 10px;
}

.hawk-facet-rail__facet__quick-lookup {
	input {
		width: 100%;
		box-sizing: border-box;
		border: 1px solid $grey;

		padding: 5px;
	}

	margin-bottom: 5px;
}

.hawk-facet-rail__facet-values {
	background-color: $white;
	border: 1px solid $grey;
	padding: 10px;
}

.hawk-facet-rail__facet-values__checkbox {
}

.hawk__btn__select-facet {
	width: 200px;
	text-align: left;
	margin-right: 5px;
	font-size: 12px;
	background-color: #007041;
}

.hawk-facet-rail__facet-values__search {
	input {
		border: none;
		width: 100%;
	}
}

.hawk-facet-rail__facet-values__search-clear {
	span {
		&:hover {
			text-decoration: underline;
		}

		float: right;

		margin-top: 5px;
		margin-right: 5px;

		cursor: pointer;
	}

	.link-button {
		background: transparent;
		border: none;
		margin-top: 10px;
		color: #6f6f6f;
		font-size: 0.9em;
		font-weight: bold;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	height: 35px;
	text-align: right;
}

.hawk-facet-rail__facet-btn {
	@include ButtonLink;

	display: flex;
	align-items: flex-start;
	line-height: 1.3;
	padding: 0;
	flex-grow: 1;
	text-align: left;
	margin: 0 5px;
	box-shadow: none;
	color: #000;
	font-weight: normal;
	font-size: 0.933em;

	@include lg {
		line-height: 1.4;
	}

	&:focus,
	&:active {
		box-shadow: none;

		.hawk-facet-rail__facet-name {
			outline: none;
			box-shadow: 0 0 0 3px #5bc0de;
		}
	}
	&:hover {
		color: $orange1;
	}
}

button.hawk-collapseState {
	position: absolute;
	background-color: inherit;
	border: none;
	display: inline-block;
	padding: 0;
	cursor: pointer;

	&:after {
		display: inline-block;
		position: absolute;
		content: '\2212';
		font-size: 10px;
		font-family: 'hawksearch';
		color: #b8b8b8;
		right: 2px;
		top: 4px;
	}

	&.collapsed:after {
		content: '\2b';
	}
}

.hawk-facet-rail__facet-btn-exclude {
	@include ButtonLink;
}

.hawk-facet-rail__facet-btn-include {
	@include ButtonLink;

	color: $primary;
}

.hawk-facet-rail__show-more-btn {
	@include ButtonLink;
}

.hawk-facet-rail__facet-checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 20px;
	height: 20px;
	background: transparent;
	border: 1px solid $primary;
	border-radius: 4px;
	margin-right: 5px;
}

.hawk-facet-rail__facet-checkbox-icon {
	width: 1em;
	height: 1em;
}
