@use '../utils/theme' as theme;
@use '../utils/mixins' as mixins;

.icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

/* Roc Logo SVG */
.icon-roc-logo {
    width: 100px;
    height: auto;
    position: relative;
    top: -5px;
}

/* Primary Icon */
.icon-primary {
    fill: theme.$primary;  // Используем переменную theme.$primary
    color: theme.$primary;  // Используем переменную theme.$primary

    path {
        fill: theme.$primary;  // Используем переменную theme.$primary
        color: theme.$primary;  // Используем переменную theme.$primary
    }
}

/* Disabled Icon */
.icon-disabled {
    pointer-events: none;

    path {
        fill: theme.$disabled;  // Используем переменную theme.$disabled для цвета
    }
}

/* Listing Item Status Icon */
.listing-item-status-icon {
    width: 30px;

    @include mixins.xlg {
        width: 15px;
    }
}
