@mixin fauxActiveUnderline($color) {
	background-image: linear-gradient(to bottom, $color, $color);
	background-size: 0 2px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	padding-bottom: 4px;
	position: relative;

	&:hover,
	&:focus {
		background-size: 100% 2px;
	}
}

@mixin focusBorder($color: $cyan) {
	&:focus {
		box-shadow: 0 0 0 3px $color;
	}
}

@mixin focusOutline() {
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(230, 230, 230, 0.5);
		border-radius: 4px !important;
	}

	&:hover {
		box-shadow: none;
		border-radius: 0 !important;
	}
}

@mixin HoverCircleAccent($size: 40px) {
	display: inline-block;
	position: relative;

	&:after {
		content: '';
		display: block;
		opacity: 0;
		position: absolute;
		transition-duration: 0.15s;
		transition-timing-function: cubic-bezier(0.4, 0, 0.02, 1);
		transition-property: transform, opacity, background-color;
		top: 50%;
		left: 50%;
		background: none;
		border-radius: 50%;
		box-sizing: border-box;
		transform: translateY(-50%) translateX(-50%) scale(0);
		width: $size;
		height: $size;
		z-index: 1;
	}

	&:hover,
	&:focus {
		&:after {
			transform: translateY(-50%) translateX(-50%) scale(1);
			background-color: rgba(0, 112, 65, 0.2);
			border: none;
			opacity: 1;
		}
	}
}

@mixin ButtonLink() {
	background-color: transparent;
	border-radius: 0;
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	height: auto;
	cursor: pointer;

	&:focus,
	&:active {
		outline: none;
		box-shadow: 0 0 0 3px #5bc0de;
	}

	&:not(:disabled):not(.disabled):active {
		background-color: transparent;
	}
}
