.hawk {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	input[type='text'],
	input[type='password'],
	input[type='email'],
	input[type='number'],
	input[type='search'],
	input[type='tel'],
	input[type='time'],
	input[type='url'],
	input[type='week'],
	select {
		@include focusBorder;

		display: block;
		box-sizing: border-box;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		outline: none;
		transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

		&:focus {
			outline: none;
		}
	}

	input[type='number'],
	input[type='week'],
	input[type='time'] {
		width: auto;
	}

	textarea {
		@include focusBorder;

		display: block;
		box-sizing: border-box;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		width: 100%;
		min-height: 100px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		outline: none;
		transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

		&:focus {
			outline: none;
		}
	}
}
